<!DOCTYPE html>

<html lang="en" ng-app="spotifyApp">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="/assets/styles/reset.css">
  <link rel="stylesheet" href="/assets/styles/style.css">
  <script src="angular.js"></script>
  <script src="app.js"></script>
</head>

<body ng-controller="SpotifyController">
  
  <button ng-click="changeMessage()">change message</button>
  <p>{{message}}</p>
  
  <table>
     <thead>
       <th>Artist</th>
       <th>Style</th>
     </thead>
    <tr ng-repeat="artist in artists">
      <td>{{artist.name}}</td>
      <td>{{artist.style}}</td>
    </tr>
  </table>
  
</body>
  
</html>